---
---

body {
  margin: 0;
  background: fixed url(/images/bn-cielo_sol.jpg) no-repeat;
  background-size: cover;
}

header , section {
  display: flex;
  height: 100vh;
  min-height: 480px;
  flex-direction: column;
  background-size: cover;
}

header {
  background-image: url(/images/Ciudad-2012-santa-fe-oscuro.jpg);
  position: relative;
}

header h1 {
  color: white;
  margin: auto;
  max-width: 600px;
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  color: white;
}

header::after {
  content: "";
  background-image: url("/images/scrolldown.png");
  height: 98px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;
}


hgroup {
  padding-left: 40px;
  background-color: #333739;
}

h1 , h2 {
  text-align: center;
}

h1 {
  font-size:  3rem;
}

p {
  max-width: 400px;
}

li {
  padding: 30px;
  display: inline-block;
}
