---
---

// fonts

@import '/vendor/fontello/css/icons.css';

// base

html {
  font-size: 4.5vmin;
  font-family: FreeSerif,Lucida Bright,Georgia,serif;
}

h1 , h2 {
  font-family: FreeSans,Arial Black,Arial Bold,Gadget,sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size:  2em;
}

p {
  max-width: 800px;
  margin: 0 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

// layout

html , body {
  margin: 0;
}

section {
  background: #EED;
  text-align: center;

  section {
    display: inline-block;
    background: #DEC;
    text-align: left;
    vertical-align: top;
  }
}

@import 'profile';
@import 'navigation';
@import 'header';
