---
---
body {
  margin: 0;
}

header , section {
  display: flex;
  height: 100vh;
  min-height: 480px;
  flex-direction: column;
  background-size: cover;
}

header {
  background-image: url(/images/Ciudad-2012-santa-fe-oscuro.jpg);
  position: relative;
}

header h1 {
  color: white;
  margin: auto;
  max-width: 600px;
  padding: 10px;
}

header b {
  color: #3596b1;
}

header a {
  color: white;
  text-decoration: none;
}

header img {
  width: 250px;
}
header nav {
  color: white;
}
header ul {
  justify-content: flex-end;
}

header li {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
}
.header-end {
  background-image: url("/images/scrolldown.png");
  height: 98px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;
}

hgroup {
  padding-left: 40px;
  background-color: #333739;
}

h1 {
  text-align: center;
  font-size:  3rem;
}

h2 {
  text-align: center;
}

p {
  max-width: 400px;
}

li {
  // background-color: #EEE;
  padding: 30px;
  // margin: 5px;
  display: inline-block;
}
