section.profile {
  display: inline-block;
  max-width: 400px;
  padding: 15px;
  margin: 5px;
  box-shadow: 4px 4px 4px black;
  background-color: hsla(48, 20%, 80%, 1);
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px 5px;
    border-bottom: solid 0.5px grey;
  }
  h2 {
    text-align: center;
    margin: 0;
    display: inline-block;
    max-width: 160px;
  }
  img {
    border-radius: 50%;
    border: solid 2px rgba(20, 20, 20, 0.6);
  }
  p {
    padding: 0;
    margin-top: 5px;
  }
  a {
    transition: color 0.5s linear;
    font-size: 1.5em;
    display: block;
    width: 1.4em;
    overflow: hidden;
    white-space: nowrap;
  }
  a:hover {
    color: blue;
  }
  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  ul.tags {
    justify-content: center;
    li {
      background-color: hsla(48, 20%, 70%, 1);
      font-size: 0.7em;
      border: outset 1px;
      border-radius: 5px;
      margin: 2px;
      padding: 3px;
    }
  }
}
